.motto-disturb {
  position: relative;
}

@keyframes noise-anim {
  0% {
    clip: rect(55px, 9999px, 9px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(85px, 9999px, 83px, 0);
  }
  15% {
    clip: rect(83px, 9999px, 84px, 0);
  }
  20% {
    clip: rect(39px, 9999px, 69px, 0);
  }
  25% {
    clip: rect(41px, 9999px, 7px, 0);
  }
  30% {
    clip: rect(32px, 9999px, 6px, 0);
  }
  35% {
    clip: rect(75px, 9999px, 19px, 0);
  }
  40% {
    clip: rect(5px, 9999px, 63px, 0);
  }
  45% {
    clip: rect(55px, 9999px, 43px, 0);
  }
  50% {
    clip: rect(80px, 9999px, 71px, 0);
  }
  55% {
    clip: rect(67px, 9999px, 69px, 0);
  }
  60% {
    clip: rect(45px, 9999px, 99px, 0);
  }
  65% {
    clip: rect(67px, 9999px, 93px, 0);
  }
  70% {
    clip: rect(12px, 9999px, 69px, 0);
  }
  75% {
    clip: rect(58px, 9999px, 28px, 0);
  }
  80% {
    clip: rect(53px, 9999px, 40px, 0);
  }
  85% {
    clip: rect(86px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(35px, 9999px, 100px, 0);
  }
  95% {
    clip: rect(99px, 9999px, 30px, 0);
  }
  100% {
    clip: rect(8px, 9999px, 51px, 0);
  }
}
.motto-disturb:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 inherit;
  top: 0;
  color: inherit;
  background: inherit;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 50px, 0);
  }
  5% {
    clip: rect(97px, 9999px, 8px, 0);
  }
  10% {
    clip: rect(71px, 9999px, 79px, 0);
  }
  15% {
    clip: rect(72px, 9999px, 84px, 0);
  }
  20% {
    clip: rect(59px, 9999px, 36px, 0);
  }
  25% {
    clip: rect(44px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(94px, 9999px, 60px, 0);
  }
  35% {
    clip: rect(78px, 9999px, 37px, 0);
  }
  40% {
    clip: rect(84px, 9999px, 29px, 0);
  }
  45% {
    clip: rect(27px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(100px, 9999px, 33px, 0);
  }
  60% {
    clip: rect(68px, 9999px, 4px, 0);
  }
  65% {
    clip: rect(100px, 9999px, 84px, 0);
  }
  70% {
    clip: rect(44px, 9999px, 57px, 0);
  }
  75% {
    clip: rect(90px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 22px, 0);
  }
  85% {
    clip: rect(81px, 9999px, 13px, 0);
  }
  90% {
    clip: rect(33px, 9999px, 38px, 0);
  }
  95% {
    clip: rect(1px, 9999px, 34px, 0);
  }
  100% {
    clip: rect(27px, 9999px, 57px, 0);
  }
}
.motto-disturb:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 inherit;
  top: 0;
  color: inherit;
  background: inherit;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}